@charset "UTF-8";

#root {
  background-color: #eee;
  height: 100dvh;
}

.wrapper {
  position: relative;
  width: 500px;
  margin: 0 auto;
  height: 100%;
  background-color: #fafafa;
  overflow-y: scroll;
  overflow: auto;
}

a:active {
  color: -webkit-link;
}

/* 공통 */
.wrapper h2 {
  font-size: 32px;
  font-weight: 700;
  margin: 0 0 16px 0;
}

.birthday-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  margin: 0 0 16px 0;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px #eee;
}

.birthday-list .profile {
  width: 60px;
  height: 60px;
  background-color: #eee;
  border-radius: 40px;
}

.birthday-list .text {
  width: 300px;
}

.birthday-list .text h3 {
  font-size: 24px;
  margin: 0 0 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.birthday-list .text p {
  font-size: 16px;
}

.birthday-list .d-day {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.birthday-list .d-day .number {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 16px 0;
}

.profile {
  display: block;
  position: relative;
  width: 60px;
  height: 60px;
  border: 1px solid #000;
  box-sizing: border-box;
  border-radius: 40px;
  background-image: url();
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  overflow: hidden;
}

.profile > input {
  display: none;
}

.profile > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
}

.header {
  position: fixed;
  bottom: 0;
  width: 500px;
  background-color: #fff;
}

.header ul {
  display: flex;
  justify-content: space-around;
}

.header ul li a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #000;
}

.header .icon {
  width: 48px;
  height: 48px;
  background-size: 32px auto;
  background-repeat: no-repeat;
  background-position: center;
}

.header .icon.birthday-cake {
  background-image: url("/src/assets/birthday-cake.png");
}

.header .icon.calendar {
  background-image: url("/src/assets/calendar.png");
}

.header .icon.settings {
  background-image: url("/src/assets/setting.png");
}

.header .icon-text {
  margin: 8px 0 0 0;
  font-size: 20px;
  text-align: center;
}

.main-container {
  padding: 0 16px;
  overflow: hidden;
}

/* 생일 CSS */
.sec-birthday {
  padding: 0 0 124px 0;
}

.sec-birthday .use-area {
  padding: 16px 0;
}

/* 생일 추가 */
.sec-add-birthday {
  padding: 48px 0;
}

.sec-add-birthday form {
  margin: 20px 0 0 0;
}

.sec-add-birthday label ~ label {
  display: block;
  border-bottom: 1px solid #eee;
}

.sec-add-birthday label input {
  padding: 16px 0;
  border: none;
  width: 100%;
  text-indent: 16px;
  font-size: 16px;
}

.sec-add-birthday label input:focus {
  outline: none;
}

.sec-add-birthday select {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 16px 0;
  text-indent: 16px;
  width: 50%;
  font-size: 16px;
}

.sec-add-birthday select:focus {
  outline: none;
}

.sec-add-birthday .month-day {
  display: flex;
}

.sec-add-birthday select option[value="월"][disabled],
.sec-add-birthday select option[value="일"][disabled] {
  display: none;
}

.sec-add-birthday .save-btn {
  border: none;
  background-color: #eee;
  display: block;
  width: 100%;
  padding: 16px 0;
  font-size: 16px;
}

/* 달력 CSS */
.sec-calendar {
  padding: 16px 0 124px;
}

.sec-calendar .date {
  font-size: 24px;
  margin: 0 0 24px;
  text-align: center;
}

.sec-calendar .calendar-area {
  /* height: 500px; */
  margin: 0 0 24px;
}

.sec-calendar .calendar-list > p {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 16px 0;
}

.sec-calendar .birthday-list li {
  justify-content: flex-start;
}

.sec-calendar .birthday-list .text {
  margin: 0 0 0 16px;
}

/* 설정 */
.sec-setting {
  padding: 48px 0;
}

.sec-setting p {
  font-size: 24px;
  margin: 0 0 16px 0;
}

.sec-setting ul {
  margin: 0 0 32px 0;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px #eee;
}

.sec-setting li button {
  background: inherit;
  border: none;
  cursor: pointer;

  text-align: left;
  font-size: 16px;
  padding: 16px;
  width: 100%;
  border-bottom: 1px solid #eee;
}

.sec-setting li:last-child button {
  border-bottom: 1px solid transparent;
}
